---
layout: generic
title: Our Beers
id: beers2
navbar: true
permalink: /beers

---

    
    
    {% assign fullcans = "marvel:raygun:p4p:exp1" | split: ':' %}

   
    
    <div class="col-sm-8 offset-sm-2">
        
        <h1>Check out our beer</h1>
        
        <div class="gallery beer">

      
            {% for can in site.cans %}
            {% if  fullcans contains can.code %}


            <div class="gallery-item">
                   {% include beer.html %}
                </div>
                {% endif %}
            {% endfor %}
            
        </div>
        
        <i>More at: <a href="http://store.fab.beer">our online store</a></i>
    </div>
    
    
    
    
    