---
layout: default
title: A FAB mission
id: home
balloonscripts: true
style: main
navbar: true

redirect_from:
- /post/123456789/
- /post/123456789/my-amazing-post/
---


<div class="hero">
    <video id="myVideo" autoplay="autoplay" muted loop>
        <source src="/assets/ezgif.com-gif-maker.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    
    
</div>

<div class="hero-logo-container">
    <img class="hero-logo" src="/assets/2022_web_brand_assets/2022_web_brand_assets_fab_logo_black-07.png"/>
</div>

{% assign fullcans = "marvel:raygun:p4p" | split: ':' %}
<div class="col-sm-8 offset-sm-2 can-gallery-container">
    <div class="can-gallery d-md-flex d-none">
        
        
        <div class="can-list">
            {% for can in site.cans %}
            {% if  fullcans  contains can.code %}
            
            
            <div class="can">
                <div class="link-image-container {{can.code}}">
                    <a href= "/cans/{{can.code}}" class="link-image"> 
                        
                        <img  class="main" src="/assets/beer_pours/{{ can.code }}_pour_square.jpg" />
                    </a>
                </div>
                <li class="can-icon {{can.code}}"><a href="/{{can.code}}">                    
                    <svg><circle cx="50%" cy="50%" r="50px"></circle></svg>
                    <img src="/assets/can_graphics/can_icons/1x/{{can.code}}_can_bare_shadow.png"/></a></li>
                    
                    <div class="svg-container">
                        <svg width="100%" height="160px" viewBox="0 0 1098.72 89.55">
                            <path id="curve" fill="transparent" d="M0.17,0.23c0,0,105.85,77.7,276.46,73.2s243.8-61.37,408.77-54.05c172.09,7.64,213.4,92.34,413.28,64.19"></path>
                            <text width="100%" style="transform:translate3d(0,0,0);">
                                <textPath style="transform:translate3d(0,0,0);" alignment-baseline="top" xlink:href="#curve" startOffset="1200px" class="text-path">{{can.name}}</textPath>
                            </text>
                        </svg>
                    </div>
                </div>

<!-- 
                <div class="svg-container">
                    <svg width="100%" height="160px" viewBox="0 0 100 100">
                        <circle id="curve" fill="rgba(0, 0, 0, .5)" cx=50 cy=50 r=60></circle>
                        <text width="100%" style="transform:translate3d(0,0,0);">
                            <textPath style="transform:translate3d(0,0,0);" alignment-baseline="top" xlink:href="#curve" startOffset="0px" class="text-path">{{can.name}}</textPath>
                        </text>
                    </svg>
                </div> -->

                
                <!-- <div class="offset-text {{can.code}}-text">{{can.name}}</div> -->
                
                
                {% endif %}
                {% endfor %}    
                <script>
                    

                    
                    
                    const textPaths = document.querySelectorAll(".text-path");
                    const h = document.documentElement, 
                    b = document.body,
                    st = 'scrollTop',
                    sh = 'scrollHeight';
                    
                    for ( const textPath of textPaths){
                        print(textPath)
                    document.addEventListener("scroll", e => {
                        let percent = (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight) * 100;
                        textPath.setAttribute("startOffset", (-percent * 40) + 1200)
                    });
                }
                </script>
            </div>
        </div>
    </div>
    
    
</div>




<div class="home-text-col col-sm-4 offset-sm-4">
    
    <p><b>FAB</b></p>
    <p><b>FERMENTATION ARTS BREWERY</b></p><p>Our mission to <b>share with you</b>, artistic fermentations which use the power of biotransformation, invention, and science to push the boundaries of what is possible in beer. We focus on producing world class New England IPAs and Biotransformed Lagers. But that's just for now.</p>
    
    
    
    
    
    <p></p><p></p>
    <p><b>BEERS</b></p>
    <p>Our current lineup features two <b>New England IPAs</b> and one unique <b>Pilsner</b>.</p>
    <p><em class="marvel-text fancy">TALES OF THE MOSAIC MARVEL</em> is a single-hop New England IPA featuring passionfruity Mosaic hops. <em class="raygun-text fancy">JOHNNY GET YOUR RAYGUN</em> is a Double-Dry Hopped Double New England IPA made with Citra and Mosaic hops. The hops for both <em class="marvel-text fancy">MARVEL</em> and <em class="raygun-text fancy">RAYGUN</em> are processed using cryogenic techniques in an ultracold facility. This specialty process is thought to  preserve more fully the effervescent citrus and tropical aromas of these resinous nortwestern USA varieties. This, in combination with dry hopping during fermentation, makes it possible to create beers with more intense hop flavor and aroma then is possible otherwise.</p>
    
    <p><em class="p4p-text fancy">PILSNER 4 PEACE</em> is a single-hopped Pilsner with a unique story. Created in January 2020, during the event of global escalations in hostilities between the USA and Iran, the <em class="p4p-text fancy">P4P</em> was first conceived as an artistic collaboration to create collaborative can labels by international artists, including artists from Kurdish, Iranian, Asian, Jewish and North American background, and a beer so simple that we would share the recipe for free with brewers undertaken artwork with similar intent.</p>
    <img class="image-left image-200" src="/assets/story/mashhops.jpg"/>    
    <p><b>What makes our beer unique?</b></p><p><em>Creative hopping techniques, incredible ingredients, and unique methods for yeast husbandry.</em></p><p>Each of our ales amd lagers incorporate mash hopping, a technique which deeply integrates hop flavors (see below). These beers are also dry hopped at two points–once, during the height of fermentation activity to promote the integration of resinous hop terpenes into the flavor of the beer, and secondly, at the tail end of fermentation–immediately following which addition, the beer is capped to capture the hop aromas. This naturally carbonates the beer, producing tiny, champagne-like bubbles from fermentation of trace amounts of sugars present in the hop flowers.</p>
    
    
    <em class="technique-header toggle-button" target-id="mash-hop-target">[+] Learn about Mash Hopping</em>
    <span class="technique-content toggle-target" id="mash-hop-target">Both <em class="marvel-text fancy">Marvel</em> and <em class="raygun-text fancy">Raygun</em> are mash hopped beers. Mash hopping involves the addition of hops (in this case, Citra) at the very beginning of beer brewing. These hops are added at relatively low temperatures, allowing extraction into the beer of many sought after aroma compounds in addition to some plant sugars which are found in the hop flowers. Mash hop plant matter is discarded before the beer is boiled and our early experiments point to this reducing the extraction of harsh bitterness which can result from hop additions during the boiling of wort. </span></p>
    
    
    
    <em class="technique-header toggle-button" target-id="mash-hop-target">[+] Learn more about "Cryo" hops</em>
    <span class="technique-content toggle-target" id="mash-hop-target">Both <em class="marvel-text fancy">Marvel</em> and <em class="raygun-text fancy">Raygun</em> are mash hopped beers. Mash hopping involves the addition of hops (in this case, Citra) at the very beginning of beer brewing. These hops are added at relatively low temperatures, allowing extraction into the beer of many sought after aroma compounds in addition to some plant sugars which are found in the hop flowers. Mash hop plant matter is discarded before the beer is boiled and our early experiments point to this reducing the extraction of harsh bitterness which can result from hop additions during the boiling of wort. </span></p>
    
    
    
    
    <em class="technique-header toggle-button" target-id="mash-hop-target">[+] Learn more about biotransformation</em>
    <span class="technique-content toggle-target" id="mash-hop-target">Both <em class="marvel-text fancy">Marvel</em> and <em class="raygun-text fancy">Raygun</em> are mash hopped beers. Mash hopping involves the addition of hops (in this case, Citra) at the very beginning of beer brewing. These hops are added at relatively low temperatures, allowing extraction into the beer of many sought after aroma compounds in addition to some plant sugars which are found in the hop flowers. Mash hop plant matter is discarded before the beer is boiled and our early experiments point to this reducing the extraction of harsh bitterness which can result from hop additions during the boiling of wort. </span></p>
    
    
    
    
    
    {% assign image_groups = site.static_files | group_by_exp: "item", 'item.path| split: "/" | slice:3 | first'  %}
    
    
    {% for can in site.cans %}
    {% if  fullcans contains can.code %}
    <div class="chapter"></div>
    {% include can_info_template.html %}
    {% endif %}
    {% endfor %}
    
    <section>
        
        <div class="story-inline-gallery">
            
            <button type="button" class="btn medusa-t-button" data-toggle="modal" data-target="#medusa-t-modal"><img class="thumbnail t-shirt" src="assets/icons/medusa_navy.png"/> <em class="medusa-t-title new">MEDUSA T</em><div class="medusa-t-description">by Adam O'Day. Profits fund baby dictator balloons</p></div></button>
            
            <img src="/assets/img/Headwithoutgray@0,5x.png" alt="Original Baby Trump" class="img-responsive image image-300" />
        </div>
        
        
        {% assign shopify_product_id=4407213490260 %}
        
        <div class="modal fade" id="medusa-t-modal">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Get a Medusa T</h5>
                    </div>
                    <div class="modal-body shopify">
                        {% include storeproduct.js %}
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('#medusa-t-modal').on('shown.bs.modal', function () {
                window.dispatchEvent(new Event('resize'));
            })
        </script>
        
    </section>
</div>


<footer></footer>

</div>
