---
layout: default
title: Menu page
permalink: /menu/
id: food-menu
excerpt: The menu
---

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            
            <h1>Menu Items:</h1>
<ul>
      {% assign groups = site.food_menu | group_by: "Type" %}
    {% for g in groups %}
    {% for post in g.items %} 
    HI
    <li><span class="name">{{post.Name}}</span>: <a href="{{post.Type}}">{{post.Type}}</a>{{post.Price}} {{post.Notes}}</li>
      {% endfor %}
    {% endfor %}
            </ul>


    </div>
</div>
</div>
