---
layout: blank
title: Menu page
permalink: /menu-printable/
id: food-menu
excerpt: The menu
---


<style>
  body{
    font-size:12px;
  }
  .qr{
    position:absolute;
    left:8in;
    top:0in;
    margin:32px;
  }
  .qr img{
    width:96px;
    height:96px;
  }
  .name{
    font-weight:bold;
  }
  .price,.togo{
    padding-left:1em;
    float:right;
  }
  .food-container{
    font-size:100%;
  }
  .qr-address{
    font-family:courier;
    font-size:90%;
  }
  .style-desc{
    font-style:italic;
  }
  .section-name{
    font-weight:bold;
  }
  .notes{
    display:block;
  }

@page {
  size: 11in 8.5in;
}
.spacer{
  height:.3in;
}
</style>

<div class="spacer"></div>
<div class="qr">
  We are <b>FAB</b>, "Food Art Beer", a community-focused food and art-space created by FAB brewery. All of the beers on the menu are brewed by us!
 <br/>--@fabsomerville
</div>
<div class="container">
   <h2>FOOD ART BEER</h2>  
    <h4>9/24/2020</h4>
    <h6>Ask about our art tours!</h6>
    <div class="row">


      
  <div class = "row">



  <div class="col-5 food-container">
  <div  class="section-name">Food</div> 
  <ul>

    {% for post in site.data.food_menu %} 
      {% if post.Type == "App"  or post.Type=="Main" %}
    <li><span class="name">{{post.Names}}</span><span class="price">{{post.Price}}{% if post.HalfPrice !=None %} ({{post.HalfPrice}}){% endif %}</span><span class="notes">{{post.Notes}}</span></li>
      {% endif %}
    {% endfor %}
            </ul>


                      <div class="section-name">Desert</div>
                      <ul>
                  
                        {% for post in site.data.food_menu %} 
                          {% if post.Type == "Desert" %}
                          <li><span class="name">{{post.Names}}</span><span class="price">{{post.Price}}</span><span class="notes">{{post.Notes}}</span></li>
                          {% endif %}
                        {% endfor %}
                                </ul>

                                <div  class="section-name">House Wines</div>

                                <div>Ask about our selection of wines from the Loire Valley!</div>
                                <div>TONIGHT: <b>Red Wine Sangria</b> with peaches and warm spice.</div>
                            
          

    </div>



  <div class="col-6">
    <div  class="section-name">Beer</div>
    <div>Brewed by <b>FAB</b>!</div>
    <ul>

      {% for post in site.data.food_menu %} 
        {% if post.Type == "Beer" and post.Available == "Yes" %}
        <li><span class="name">{{post.Names}}</span><span class="price">{{post.Price}}</span><div class="style-desc"> {{post.Style}} {{post.ABV}}%</div><span class="notes">{{post.Notes}}</span></li>
        {% endif %}
      {% endfor %}
    </ul>
      
  
  
      </div>
</div>
</div>
</div>
