---
layout: default
title: Menu page
permalink: /menu-printable/
id: food-menu
excerpt: The menu
---



<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            
            <h1>Menu Items:</h1>
<ul>

  <div class="col-3">
  <div>Apps</div>
    {% for post in site.data.food_menu %} 
      {% if post.Type == "App" %}
    <li><span class="name">{{post.Name}}</span>: <a href="{{post.Type}}">{{post.Type}}</a>{{post.Price}} {{post.Notes}}</li>
      {% endif %}
    {% endfor %}
            </ul>


    </div>

  <div class="col-3">
    <div>Apps</div>
      {% for post in site.data.food_menu %} 
        {% if post.Type == "App" %}
      <li><span class="name">{{post.Name}}</span>: <a href="{{post.Type}}">{{post.Type}}</a>{{post.Price}} {{post.Notes}}</li>
        {% endif %}
      {% endfor %}
              </ul>
  
  
      </div>

  <div class="col-3">
    <div>Apps</div>
      {% for post in site.data.food_menu %} 
        {% if post.Type == "App" %}
      <li><span class="name">{{post.Name}}</span>: <a href="{{post.Type}}">{{post.Type}}</a>{{post.Price}} {{post.Notes}}</li>
        {% endif %}
      {% endfor %}
              </ul>
  
  
      </div>
</div>
</div>
</div>
