---
title: minimum wage art
layout: radar_layout
id: radar
---    


{% include radar_spinner.svg %}
<div class="coming-soon">
    <div class="marvel neon glass-container">


    <span class="neon">
        <h1 class="neonText">
          Coming soon... the official site of our featured tasters. Find FAB near you.
        </h1>
        </span>
        </div>
</div>

<div class="hud">
{%for c in site.cans %}
<div class="beer-container {{c.code}} neon">
    <div class="{{c.code}} neon border glass-container">
    {% if c.glass == 'teku' %}
    {% include glass_svgs/teku.svg %}
    {% elsif c.glass == 'pilsner' %}
    {% include glass_svgs/pilsner.svg %}
    {% elsif c.glass == 'teku' %}
    {% include glass_svgs/teku.svg %}
    {% endif %}



    <span class="neon">
<h1 class="neonText">
    {{c.code}}
</h1>
</span>
</div>
</div>
{% endfor %}
</div>