<nav class="navbar navbar-expand-lg fixed-top {% if page.inverted %} navbar-dark bg-dark {% endif %}">
        <a class="navbar-brand" href="/">FAB</a>
     



        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="myNavigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
      
    
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

          <ul class="beer-icon-list">
          {% for c in site.data.cans %}

            <li class="can-icon"><a href="/{{c.code}}"><img src="/assets/can_graphics/can_icons/1x/{{c.code}}_can_circle.png"/></a></li>

          {% endfor %}


        </ul>
          <ul class="navbar-nav">
            <li  class="bd-text"> <a  href="/beers">Beers</a></li>
            <li  class="bd-text"> <a  href="/art">Art</a></li>
            <li class="bd-text "> <a   href="http://store.fab.beer">Merch</a></li> 
            <li class="bd-text"> <a   href="/contact">Abour</a></li>
            <li  class="bd-text new"> <a  href="/find">Art</a></li>
          </ul>
           
        </div>
      </nav>
