<nav class="navbar navbar-expand-lg fixed-top {% if page.inverted %} navbar-dark bg-dark {% endif %}">
        <!-- <a class="navbar-brand" href="/">FAB</a> -->
     



        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
                        aria-controls="myNavigation" aria-expanded="false" aria-label="Toggle navigation">

                        <span class="toggler-container">
          <span class="navbar-toggler-icon"></span><span class="toggler-brand"><img src="/assets/2022_web_brand_assets/2022_web_brand_assets_fab_word_transparent.svg"/></span>
          </span>
        </button>
      
    
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <div class="ul-margin-spacer d-lg-none"></div>

            <div class="navbar-bg"></div>
            <li class="brand d-xs-none d-lg-block"><a href="/"><img src="/assets/2022_web_brand_assets/2022_web_brand_assets_fab_logo_word_transparent.png"></a>
            </li><div class="spacer"></div>

            <li  > <a  href="/beers">
              <img src="/assets/2022_web_brand_assets/2022_web_brand_assets_beers.svg">
            </a></li><div class="spacer"></div>
            <li> <a   href="/merch">
              <img src="/assets/2022_web_brand_assets/2022_web_brand_assets_merch.svg">
            </a></li> <div class="spacer"></div>
            <li > <a   href="/contact">
              <img src="/assets/2022_web_brand_assets/2022_web_brand_assets_about.svg">
            </a></li><div class="spacer"></div>
            <li  > <a  href="/find">
              <img src="/assets/2022_web_brand_assets/2022_web_brand_assets_find.svg">
            </a></li>
            <div class="ul-border-bottom d-lg-none"></div>

          </ul>
           
        </div>
      </nav>
