body.page-home{
    margin-top:100vh;
}
body.style-main{
    background-color:yellow;

    .content-section.header{

        height:64px;
        margin-top:32px;
        margin-bottom:16px;

        position:relative;
        display:block;
        img{
            height:100%;
            border: 5px solid black;
        }
    }
.content-title{
    margin-bottom:30px;
    img{
        border:5px solid black;
        height:120px;
    }
}

    .artist-flex-list{
        display:flex;
        flex-wrap:wrap;
    }




    .wip-flex-list{
        
        display:flex;
        flex-wrap:wrap;
        .item{
            height:200px;
        img{
            height:100%;
        }
    }
    }
    .beer-gallery{
        margin-top:300px;
        margin-bottom:50px;
    }

    .link-image-container{
     
        clip-path: circle(95px at center);
        background-color: white;
        padding: 30px;
        width: 250px;

        // &.marvel{
        //     background-color:$marvel-fg-color;
        // }
        // &.raygun{
        //     background-color:$raygun-fg-color;
        // }
        // &.p4p{
        //     background-color:$p4p-fg-color;
        // }
    }
    .can-gallery-container{
        margin-top:-300px;
        // margin-top:-400px;
        // border-bottom:1px solid white;
        // margin-bottom:50px;
    }
    .can{
        .can-name{
            position: absolute;
            bottom: 0%;
            left: 40%;
            // color: white;
            font-weight: bold;
            // text-shadow: 2px 2px black;
            z-index: 2;
        }
    }
    margin-top-50{
        margin-top:50px;
    }
    h3{
        font-weight:bold;
        letter-spacing:0em;
        font-size:1.25rem;
    }

    .chapter{
        margin-top:75px;
    }
    .can-section{
        margin-top:75px;
    }
    h4{
        font-size:1rem;
    }

    .background-image{

        position:absolute;
        z-index:-1;
    }
    .fermentation-arts{
        opacity: .25;
        width: 50px;
        /* right: 0px; */
        /* bottom: 20vh; */
        bottom: -4em;
        left: 1em;
        transform: rotate(0deg);
    
    
    
    }
    .home-text-col{
        // padding-top:20px;
        background-color:yellow;
        // border-radius: 0px 50px 0px 0px;
        // box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
        padding: 40px;
        padding-bottom:200px;

    }

    .svg-container{
        position:absolute;
        width:100%;
        height:100%;
        top:0px;
        background-color:rgba(255, 255, 255, .1);
        border: 1px solid white;
    }

    .offset-text{
        offset-path: path('M20,20 C20,100 200,0 200,100');
        animation: move 3000ms infinite alternate ease-in-out;
    
        // background: cyan;
        
        @keyframes move {
        0% {
            offset-distance: 0%;
        }
        100% {
            offset-distance: 100%;
        }
        
    }
}
    .hero-logo{
        height:100%;

    }
    .hero-logo-container{
        position: absolute;
        top: 25vh;
        height: 25vh;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
    }
    .hero{
        position:absolute;
        left: 0px;
        right:0px;
        top:0px;
        height:100vh;
        // height:100px;
        // background-image:url("/assets/2022_can_web_labels/raygun_labels_raygun_can_label1.png");
        video{
            position: fixed;
            overflow: hidden;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            transform: translateX(-50%) translateY(-50%);
            z-index: -10;
        }
    }

    #cans{
        h1{
            margin-top:20px;
        }
    }

    .can-image.can-image.can-image{
        transform:translate(0px, 0px)
    }
    .flyaway{
        cursor:pointer;
        transition: margin-top .76s ease-in 0s, margin-right .5s ease-in .3s  , opacity .5s .5s ;
    }
    .baby-trump::after{
        // background-color: yellow;
        color: red;
        font-weight: bold;
        content: " - Remember this";
      }

      .technique-header{
        padding: 10px;
        margin-top:10px;
        text-transform:uppercase;
        background: white;
        color: black;
        margin-bottom:0px;
        display:block;
        cursor:pointer;
        padding:10px;
        font-style:normal;
        text-align: center;
        font-weight:bold;

        border: 1.5px solid black;
      }
      .technique-content{
          padding:20px;
          display:none;
        
        padding-top:10px;
        padding-bottom:10px;
        margin-bottom:25px;
        visibility:hidden;
        height:0px;
        position:relative;
        background-color:black;
        color:white;
        position:relative;
        font-style:normal;
        .fancy{
            color:white;
            background-color:inherit;
        }
        &.on{
            visibility:visible;
            height:auto;
            display: block;
        }
    
      }
      .caption{

        position:absolute;
        font-size:.8em;
      }
      .caption-120{
          margin-top:120px;
      }

      .image-40{
          height:40px;
      }
      .image-80{
          height:80px;
      }
      .image-60{
        height:60px;
    }
      .image-200{
          height:200px;
      }
      .image-400{
        height:400px;
    }
    .image-300{
        height:300px;
    }
    .image-120{
        height:120px;
    }
    .image-huge.image-huge{
        width:20vw;
        transform: translate(0%, -50%);
    }
    .image-medusa-ruler{
        height: 365px;
        transform: translate(0px, 0px);
        margin-right: 20px;
        position: absolute;
        right: 100%;
    }
    .inline-image{

        display:inline-block;
        position:relative;
    }

    .left-image-container{
        position:absolute;
        right:100%;    

        &.anchor-bottom{
            transform: translate(0%, -100%);
        }
    }



    .right-image{
        position:absolute;
        left:100%;
    }

.image{

    max-height:100%;

}
    .splash{
        // background-image:url(/assets/canart/cans_sqp_art.png);
    }
    
    
    .fab{
        
        &:hover{
            letter-spacing:0em;
        }
        color:black !important;
    }
    


    
    h1{
        font-weight: bold !important;
        letter-spacing: -.08em;
        font-size: 5em !important;
        color: lightgray;
        margin-top:100px;
        >*{margin-right:.25em;}
        
    }
    
    
    .image-fullwidth-container{
        img{
            width:100%;
        }
    }
    
    
    section#cans{
        margin-bottom:0px;
    }
    .toc-container{
        margin-top:15px;
        text-align:center;
        .toc{
            margin-left:auto;
            padding-bottom: 25px;
            text-align:left;
            text-transform:uppercase;
            letter-spacing:.75em;
            
            >*>*{

                margin-left:30px;
            }
            
            
        }
        
        
        .footer{
            text-align:center;
            padding-top:50px;
            padding-bottom:50px;
            background-color:#FBFBFB;
            
            
        }
        
        .sections-container{
            margin-top:20px;
            section{
                margin-bottom:50px;
            }
        }
        
        .black{
            color:black;
        }
        .lightgray{
            color:lightgray;
        }
    }
 
    
    .story-inline-gallery{

        // height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
        font-size:75%;
        justify-content: center;

        >*{
            height:100%;

        }

        h3{
            margin-top:10px;
        }
        
        >.medusa-t-button{
            // padding:15px;
            margin-left:0px;
            margin-right:0px;
            font-size:inherit;
            padding:0px;
        }
        .medusa-t-description{
            // display:none;
            // max-width:9em;
            font-size: 16px;
            max-width: 80%;
            word-wrap: break-word;
          line-height:.9em;
    margin-left: auto;
    margin-right: auto;
}
        


        .medusa-title-container{
            position: absolute;
            display: block;
            margin-top: 5%;
            width: 100%;
            text-align: center;
            padding-top: 4px;
            padding-bottom: 4px;
            background-color: rgba(255, 255, 255, .8);
            top: 0px;
            height: 100px;
            opacity: 100%;
            font-size: 32px;
            a:link-visited{
                text-decoration: underline;
            }
            a:link{
                text-decoration: underline;
            }

        }
        
    }
    img.thumbnail.t-shirt{
        // width: 9em;
        width:100%;
        display: block;
        // border: 20px solid white;
        // outline: 5px solid black;
    }

    section.description{
        //margin-top:10px;
        // display:none;


    }
    .statement{
        blockquote{
            padding-top:0px;
            margin-top:0px;
            margin-bottom:0px;
            padding-bottom:0px;
        }
        h6{
            display:none;
        }
        *{
        background-color:white;
        }
    }
    .image-left{
        position:absolute;
        right:100%;
        
    }
    footer{
        height:200px;
    }

}
